.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin-inline: auto;
    overflow: hidden;
}


.primary-btn {
    padding: 8px 14px;
    font-size: 18px;
    border: 1px solid rgba(25, 25, 25, 0.6);
    outline: none;
    border-radius: 12px;
    background-color: var(--pirmay-btn-color);
    color: white;

}

.primary-btn:hover {
    background-color: rgb(82, 82, 195);
    transition: all .5s ease;

}

.base-btn-style {
    padding: 6px 8px;
    font-size: 1.2em;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 4px;
}
\